<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Destino</servlet-name>
        <servlet-class>servlets.Destino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirigirConSendRedirect</servlet-name>
        <servlet-class>servlets.RedirigirConSendRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirigirConForward</servlet-name>
        <servlet-class>servlets.RedirigirConForward</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Destino</servlet-name>
        <url-pattern>/Destino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirigirConSendRedirect</servlet-name>
        <url-pattern>/RedirigirConSendRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirigirConForward</servlet-name>
        <url-pattern>/RedirigirConForward</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
